@import "modern-normalize/modern-normalize.css";
@import "leaflet/dist/leaflet.css";
@import "@blueprintjs/core/lib/css/blueprint.css";

.chart-row {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 20rem;
  width: 100%;
}

.chart-container {
  width: 100%;
  max-width: 100svw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
